{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center; padding-top: 2rem; padding-bottom: 2rem;">Edit Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}

    <div style="padding-top: 1rem">
        {{ include('cours/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
