{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}

    <h1 style="text-align:center; padding-top: 2rem; padding-bottom: 2rem;">Cours index</h1>

    <table class="table container">
        <thead>
            <tr>
                <th>Semestre</th>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
        {% for cour in pagination %}
            <tr>
                <td>{{ cour.semestre.semestre }}</td>
                <td><a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination container">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
