{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align:center; padding-top: 2rem; padding-bottom: 2rem;">Create new Cours</h1>

    {{ include('cours/_form.html.twig') }}
</div>
{% endblock %}
