{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div style="text-align:center; width: 100%; padding-top: 2rem">
    <h1>Bienvenu sur l'application de visualisation des cours</h1>
<div>
{% endblock %}
