<form [formGroup]="bookForm" (submit)="submit()">
    <input formControlName="title" >
    <input formControlName="publisher" >
    <input formControlName="year" >
    <input formControlName="backcover" >
    <input formControlName="isbn">
    <div>
        <div *ngIf="$authors | async">
            <div *ngFor="let author of authors; let i = index">
                <input type="checkbox" name="vx" (click)="updateAuthors(i)"> {{ author.firstname }} {{ author.lastname }}
            </div>
        </div>
    </div>
    

    <button type="submit">Submit</button>
</form>