<form [formGroup]="bookForm" (submit)="submit()">
    <input formControlName="title" >
    <input formControlName="publisher" >
    <input formControlName="year" >
    <input formControlName="backcover" >
    <input formControlName="isbn" >
    <div>
        <div *ngIf="authorPopulated">
            <div *ngFor="let author of authors; let i = index; trackBy: trackByAuthor">
                <input type="checkbox" name="vx" (click)="updateAuthors(i)" [checked]="author.checked"> {{ author.firstname }} {{ author.lastname }}
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>