.container { max-width: 1100px; margin: 80px auto 0; padding: 20px; }
.app {
  background-color: oklch(97% 0 0);
  min-height: 100vh;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}
