@if (livre !== null) {
  <div class="details-container">
    <header class="details-header">
      <h2>{{ livre.titre }}</h2>
      <p class="auteur-sous-titre">par {{ livre.auteur }}</p>
    </header>

    <div class="details-body">
      <p><strong>Année :</strong> {{ livre.annee }}</p>
      <p>{{livre.annee | anciennete}}</p>
      <p><strong>Statut :</strong>
        <span [style.color]="livre.disponible ? '#27ae60' : '#e74c3c'" class="statut-badge">
          {{ livre.disponible ? 'Disponible' : 'Indisponible' }}
        </span>
      </p>
    </div>

    <div class="actions">

      <button class="btn-back" routerLink="/livres">
        ← Retour à la liste
      </button>
      <button class="btn-edit" [routerLink]="['/modifier', livre.id]">
        Modifier
      </button>
    </div>
  </div>
} @else {
  <div class="not-found">Livre introuvable.</div>
}
